/**
 * Styles for the Weekly Class Schedule 3.0 front-end.
 */
table.ing-schedule-normal-layout {
    table-layout: fixed;
    width: 100%;
}
.custom_schedule-schedule-wrapper td {
	padding: 0;
}
.ing-class-container {
	padding: 8px;
/*	position: relative;*/
}
.ing-class-container .ing-class-name {
	-ms-word-wrap: break-word;
	    word-wrap: break-word;
}

.ing-details-box-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	padding: 15px 25px;
	background-color: #ffc73c;
	color: #fff;
	z-index: 20;
}
.ing-class-container:hover {
	cursor: help;
}
.ing-class-container:hover .ing-details-box-container {
	display: block;
}

.ing-abs-col-4 .ing-details-box-container,
.ing-abs-col-5 .ing-details-box-container,
.ing-abs-col-6 .ing-details-box-container {
	right: 0;
	left: auto;
}
.ing-qtip-data {
	display: none;
}

.ing-schedule-wrapper table .ing-cell {
	padding: 0;
}
.ing-no-classes {
	margin-bottom: 20px;
}
.ing-hour-col {
    min-width: 50px;
}
